
{%- if rolecredits.length > 0 %}  
<div class="credit-collapse">
	<input type="radio" name="my-accordion-2" /> 
	<div class="rounded-md collapse-title text-xl font-medium">
	<h3>{{role}}</h3>
	</div>
	<div class="collapse-content"> 
		<ul>
		{% for person in rolecredits %}

			{%- set p = people | getPerson(person.id) %}

			{%- if p.active -%}

				<li class="text-indigo-600"><a class="underline" href="/people/{{ p.key }}">{{ p.name }}</a></li>

			{% else %}
				
				{%- if p.website != "" -%}
					<li class="text-indigo-600"><a href="{{ p.website }}" class="">{{ p.name }}</a> </li>

				{% else %}

					<li class="text-indigo-600"> {{ p.name }} </li>
				{%- endif %}  

			{%- endif %}  

		{% endfor %}
		</ul>
	</div>
</div>
{%- endif %}  

