<footer class="footer navbar flex justify-around ">
    <ul class="menu-horizontal flex justify-between">
      <div><a href="https://www.instagram.com/in_grid___/?hl=en-gb" class="btn btn-ghost font-Test3 normal-case text-1xl text-indigo-600 border-2 border-dotted border-b-indigo-600 hover:text-black hover:bg-zinc-300">Instagram</a></div>
      <div><a href="https://ra.co/promoters/107548" class="btn btn-ghost font-Test3 normal-case text-1xl text-indigo-600 border-2 border-dotted border-b-indigo-600 hover:text-black hover:bg-zinc-300">Resident Advisor</a></div>      
      <div><a href="https://www.youtube.com/channel/UCPoWmR0tEQFuGahW9xjbJcA" class="btn btn-ghost font-Test3 normal-case text-1xl text-indigo-600 border-2 border-dotted border-b-indigo-600 hover:text-black hover:bg-zinc-300">Youtube</a></div>      
    </ul>
</footer>