@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */


/*TO-DO: remove the second fontload for github pages when move to proper hosting... interim fix for github pages*/
@font-face {
  font-family: "Anthony";
  src: url("../../public/assets/fonts/anthony-webfont.woff") format("woff"),
  		url("https://in-grid-collective.github.io/ingrid-public-portfolio/public/assets/fonts/anthony-webfont.woff") format("woff");
}

@font-face {
  font-family: "Garamondt-Regular";
  src: url("../../public/assets/fonts/garamondt-regular-webfont.woff")format("woff"),
       url("https://in-grid-collective.github.io/ingrid-public-portfolio/public/assets/fonts/garamondt-regular-webfont.woff")format("woff");
}

@font-face {
	font-family: "Kreon-Regular";
	src: url("../../public/assets/fonts/kreon-regular-webfont.woff")format("woff"),
		url("https://in-grid-collective.github.io/ingrid-public-portfolio/public/assets/fonts/kreon-regular-webfont.woff")format("woff");
  }




@layer base {
	body {
		@apply text-indigo-600;
		@apply font-main;
		@apply text-lg;
	}
	
	h1 {
		@apply text-4xl;
		@apply font-Test2;
	}
	h2 {
		@apply text-2xl;
		@apply font-Test2;
	}
	h3 {
		@apply text-xl;
		@apply font-Test3;
		@apply mt-2
	}
	.main-content p{
		@apply my-4;
	}

	.main-content a{
		@apply underline;
	}

	.credit-collapse{
		@apply collapse;
		@apply rounded-none;
		@apply collapse-arrow;
		@apply border;
		@apply border-dotted;
		@apply border-indigo-600;
		@apply shadow-inner;
		@apply shadow-indigo-600;
	}
	.credit-collapse a{
		@apply underline;
	}

	#imggallery .btn{
		@apply text-4xl;
		@apply font-Test2;
		border-radius: 0;
		background:transparent;
		border:none;
		color: rgb(79 70 229);
	}
	#imggallery .btn:hover{
		background-color: rgb(79 70 229);
		color:white;
	}
}



img {
	width: 100%;
	height:auto;
}
.modal::backdrop {
    background-color: rgba(255, 255, 255, 0.5)!important;
    animation: modal-pop 0.2s ease-out;
	backdrop-filter: blur(50px);
}
#imggallery #close-btn{
	position: absolute;
	top:0;
	right:0;
}
#imggallery form{
	position: relative;
	width:100%;
}

.carousel-item .custom-slide{
	position: relative;
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.carousel-item .center-fig-grow{
	position: relative;
    width: 100%;
    flex-grow: 1;
}

.carousel-item picture{
    height: 95%;
    width: 95%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    justify-content: center;
} 

.carousel-item .center-fig-grow picture img{
	max-height: 100%;
    max-width: 100%;
    width: auto;
    align-self: center;
}
  

/* p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}
 */

.project-text ul a[href],
.project-text p a[href]{
  text-decoration: underline;
}

.project-text a[href]:hover,
.project-text a[href]:active {
	color: grey;
}

.project-text  :first-child {
	margin-top: 0;
}


.project-text p{
  margin: 1em 0;
}

.project-text h1{
  font-size: 2em;
}

.project-text h2{
  font-size: 1.5em;
}


.links-nextprev {
	list-style: none;
	border-top: 1px solid grey;
	padding: 1em 0;
  margin-top: 3em;
}


/* Nav */
a[href][aria-current="page"] {
	text-decoration: underline;
}

/* .project-description{
	margin-top: 20px;
} */


/* projects list */
.projectlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.projectlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.projectlist-date{
	font-size: 0.8125em; 
	color: var(--color-gray-90);
}
.projectlist-date {
	word-spacing: -0.5px;
}
.projectlist-link {
	width:100%;
	/* font-size: 1.1875em;  */
	/* font-weight: 700; */
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.projectlist-item-active .projectlist-link {
	font-weight: bold;
}

/* Tags */
/* .project-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.projectlist-item > .project-tag {
	align-self: center;
} */

/* Tags list */
/* .project-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.project-metadata time {
	margin-right: 1em;
} */

/* original aspect ratio width="640" height="360" */
.responsive-video .video-container{
	position: relative;
	width: 90%; /* adjust this and the padding-top to change how big it is*/
	height: 0;
	padding-top: 51%; /* padding top is in reltation to the width of parent, it preserves aspect ratio*/
	margin: 3vw auto;  /*this would center your video in the section container*/
}
.video-container iframe{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
}
.element {
	width: auto;
	height: auto;
    color: rgba(79,70,229,1);
    border-radius: 10px;
    box-shadow: 1px -2px 22px 1px rgba(79,70,229,1) inset;
  }