---
layout: base.njk
---

<div class="max-w-screen-xl mx-auto mt-16 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 border-dotted border-indigo-600 border shadow-lg shadow-indigo-600">
	<div class="p-2 col-span-3 border-indigo-600 border text-indigo-600 border-dotted shadow-lg shadow-indigo-600">	
		<div class="flex items-center justify-center font-Test2 text-3xl  ">
			{{ title }}
		</div>
	</div>
  	<div class="col-span-3 md:col-span-1 lg:col-span-2 grid grid-cols-1 md:grid-cols-2 auto-rows-min">	

		<div class="p-4 mb-4 col-span-1 border-indigo-600 border text-indigo-600 border-dotted">		
			<p class=" italic font-main">
				<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			</p> 
		</div>
		<p class="p-4 project-description mb-4 col-span-1 md:col-span-2 font-main border-indigo-600 border text-indigo-600 border-dotted shadow-lg shadow-indigo-600 ">
			{{description}}		
		</p>
		 <div class="p-4 col-span-1 md:col-span-2 border-indigo-600 border text-indigo-600 border-dotted ">		
			<ul class=" relative project-metadata font-main">
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="project-tag underline">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
			{%- endfor %}
			</ul>
		</div>

	</div>
	<div class="p-2 col-span-3 md:col-span-1  border-indigo-600 border text-indigo-600 border-dotted">	
		{% if icon %}
			{% set imgurl = "./"+icon %}
			{% image imgurl, "" %}
		{% endif %}
	</div>
	<div class="p-4 col-span-3 border-indigo-600 border text-indigo-600 border-dotted font-main">
		{{ content | safe }}
  	</div>
  
	{%- if imagegallery %}
	<div class="p-2 col-span-3 border-indigo-600 border text-indigo-600 border-dotted">
		{% set imagelist = imagegallery %}

		<div class="columns-1 gap-2 sm:columns-2 sm:gap-8 md:columns-3 m-2 lg:columns-4 [&>div:not(:first-child)]:mt-8 ">
			{% for img in imagelist %}
				<div>
				{% set imgurl = "./"+img %}
				{% image imgurl, "alt text", "h-auto", [316, 460, 768,960], "(min-width: 30em) 50vw, 100vw" %}
				</div>
			{% endfor %}
		</div>

	</div>
	{%- endif %}




  {%- if credits %}
	<div class="p-2 col-span-3 border-indigo-600 border text-indigo-600 border-dotted">

		<h2> Credits: </h2>
		<ul>
		{% for person in credits %}
			{%- set p = people | getPerson(person.id) %}
			<li class="text-indigo-600"><a class="underline" href="/people/{{ p.key }}">{{ p.name }}</a> - <em>{{person.role}}</em></li>
		{% endfor %}
		</ul>

	</div>
	{%- endif %}


</div>


<div class="justify-between flex pt-6 text-indigo-600">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
	</svg>
</div>


{%- if collections.projects %}
{%- set previousProject = collections.projects | getPreviousCollectionItem %}
{%- set nextProject = collections.projects | getNextCollectionItem %}
{%- if nextProject or previousProject %}
<div class="justify-between flex ">
	{%- if previousProject %}<div class="justify-start font-Test3 text-indigo-600"><a href="{{ previousProject.url }}">{{ previousProject.data.title }}</a></div>{% endif %}
	{%- if nextProject %}<div class="justify-end font-Test3 text-indigo-600 text-right"><a href="{{ nextProject.url }}">{{ nextProject.data.title }}</a></div>{% endif %}
</div>
{%- endif %}
{%- endif %}
