---
layout: base.njk
---
{# Is this box of boxes a bit too busy? #}
{# <div class="max-w-screen-xl mx-auto mt-16 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-8 border-dotted border-indigo-600 border shadow-lg shadow-indigo-600"> #}
<div class="md:max-w-7xl mx-auto mt-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:p-8">
	{# TITLE #}
	<div class="rounded-md p-2 col-span-3 border-indigo-600 border text-indigo-600 border-dotted shadow-lg shadow-indigo-600">	
		<h1 class="flex items-center justify-center">
			{{ title }}
		</h1>
	</div>

  	<div class="col-span-3 md:col-span-1 lg:col-span-2 grid grid-cols-1 md:grid-cols-2 auto-rows-min">	
		{# DATE #}
		<div class="rounded-md p-2 mb-4 col-span-1 border-indigo-600 border text-indigo-600 border-dotted">		
			<p class=" italic font-main">
				<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			</p> 
		</div>
		{# DESCRIPTION #}
		<p class="rounded-md p-2 project-description mb-4 col-span-1 md:col-span-2 font-main border-indigo-600 border text-indigo-600 border-dotted shadow-lg shadow-indigo-600 ">
			{{description}}		
		</p>
		{# TAGS #}
		<div class=" col-span-1 md:col-span-2 text--zinc-5000 ">		
			<ul class="relative project-metadata font-main ">
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="project-tag rounded-md hover:text-black hover:bg-zinc-300 border-indigo-600 border text-indigo-600 border-dotted badge badge-outline badge-lg">{{ tag }}</a>{%- if not loop.last %}  {% endif %}
			{%- endfor %}
			</ul>
		</div>
	</div>
	{# IMAGE ICON #}
	<div class="rounded-md flex justify-center items-center p-2 col-span-3 md:col-span-1  border-indigo-600 border text-indigo-600 border-dotted ">	
		{% if icon %}
			{% set imgurl = "./"+icon %}
			{% image imgurl, "" %}
		{% endif %}
	</div>
	<div class="rounded-md main-content p-4 col-span-3 border-indigo-600 border text-indigo-600 border-dotted">
		{{ content | safe }}
  	</div>
  
	{%- if imagegallery %}

	

	<div class="rounded-md p-2 col-span-3 border-indigo-600 border text-indigo-600 border-dotted">
		{% set imagelist = imagegallery %}

		<div class="columns-1 gap-4 sm:columns-2 sm:gap-8 md:columns-3 m-2 [&>div:not(:first-child)]:mt-8 ">
			{% for img in imagelist %}
				<a href="#slide{{loop.index}}" class="relative block py-2"  onclick="imggallery.showModal()">
				{% set imgurl = "./"+img %}
				{% image imgurl, "alt text", "h-auto", [316, 460], "(min-width: 30em) 50vw, 100vw" %}
				</a>
			{% endfor %}
		</div>

		<dialog id="imggallery" class="modal">
		<div class="rounded-mdmodal-box w-11/12 max-w-5xl bg-transparent shadow-none">
			<div class="modal-action">
			<form method="dialog">
				<!-- if there is a button, it will close the modal -->
				<div class="carousel w-full">
				
					{% for img in imagelist %}

						<div id="slide{{loop.index}}" class="carousel-item relative w-full">
							<div class="custom-slide">
								<div class="center-fig-grow">
									{# <img
									src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg"
									class="w-full" /> #}
									{% set imgurl = "./"+img %}
									{% image imgurl, "alt text", "h-auto", [960,1024], "(min-width: 30em) 50vw, 100vw" %}
									<div class="absolute left-5 right-5 bottom-0 flex transform justify-between">
									
									{% set prev = loop.index-1 %}
									{% set next = loop.index+1 %}
									
									{% if loop.index == 1 %}
										{% set prev = imagelist.length %}
									{% endif %}	
									{% if loop.index == imagelist.length %}
										{% set next = 1 %}
									{% endif %}	

									<a href="#slide{{prev}}" class="btn btn-circle">❮</a>
									<a href="#slide{{next}}" class="btn btn-circle">❯</a>
									</div>
								</div>
							</div>
						</div>
			
					
					{% endfor %}
					
				</div>
				<button id="close-btn" class="btn">X</button>
			</form>
			</div>
		</div>
		</dialog>

	</div>
	{%- endif %}


  {%- if videos %}
	{% for video in videos %}
		<div class="rounded-md col-span-3 lg:col-span-2 responsive-video shadow-inner shadow-indigo-600 border border-dotted border-indigo-600">
			<div class="video-container">
				<iframe title="vimeo-player" src="{{video.url}}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
			</div>
		</div> 
		<div class="col-span-3 p-4 lg:col-span-1 responsive-video border border-dotted border-indigo-600 " style="height:min-content!important;">
			{{video.tagline}}
		</div>
	{% endfor %}
  {%- endif %}

  {%- if credits %}
	<div class="rounded-md p-4 col-span-3 border-indigo-600 border text-indigo-600 border-dotted">
  		<div class="grid columns-1 ">
			<h3> Credits: </h3>

			{%- set role = "producer" %}
			{%- set rolecredits = credits | filterCreditsByRole(role) %}
			{% include "credit.njk" %}

			{%- set role = "production support" %}
			{%- set rolecredits = credits | filterCreditsByRole(role) %}
			{% include "credit.njk" %}

			{%- set role = "participating artist" %}
			{%- set rolecredits = credits | filterCreditsByRole(role) %}
			{% include "credit.njk" %}

			{%- set role = "event support" %}
			{%- set rolecredits = credits | filterCreditsByRole(role) %}
			{% include "credit.njk" %}
		
		</div>

	</div>
	{%- endif %}


</div>




{%- if collections.projects %}
{%- set previousProject = collections.projects | getPreviousCollectionItem %}
{%- set nextProject = collections.projects | getNextCollectionItem %}
{%- if nextProject or previousProject %}
<div class="justify-between flex ">


	<div class="justify-start font-Test3 text-indigo-600 ">
		{%- if nextProject %}
		
			<a href="{{ nextProject.url }}">
				<div class="justify-start flex pt-6 text-indigo-600 ">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
					</svg>
				</div>
				{{ nextProject.data.title }}
			</a>
			
		{% endif %}
	</div>
	<div class="justify-end font-Test3 text-indigo-600 text-right ">
		{%- if previousProject %}
		
			<a href="{{ previousProject.url }}">
				<div class="justify-end flex pt-6 text-indigo-600 ">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
					</svg>	
				</div>
				{{ previousProject.data.title }}
				
			</a>
		{% endif %}
	</div>
</div>
{%- endif %}
{%- endif %}