---
layout: home.njk
numberOfLatestProjectsToShow: 4
---
<div class="grid grid-cols-1 md:grid-cols-2 py-2 ">
  <div></div>
  <div class="rounded-md border border-dashed border-indigo-600 ">
<div class=" mx-auto bg-white rounded-xl shadow-md overflow-hidden ">
  <div class="md:flex">
    <div class="md:shrink-0 ">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src="https://cc.vvvvvvaria.org/wiki/images/4/4c/Content-form-newspapers-stack-1.jpeg" alt="">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">UPCOMING</div>
      <a href="" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Transmediale</a>
      <p class="mt-2 text-slate-500">Rooted by the interest of researchers in how technological and social forms come together, the presentations, as well as the resulting publication, invite the audience to reflect on the use and value of affective infrastructures, autonomous networks, and shared organisational processes. </p>
    </div>
  </div>
</div>
  </div>
  <div class="rounded-md border border-dashed border-indigo-600">WORKSHOPS</div>
  <div class="rounded-md border border-dashed border-indigo-600">
    <div class="rounded-md border border-dashed border-indigo-600 ">
<div class=" bg-white rounded-xl shadow-md overflow-hidden">
  <div class="md:flex">
    <div class="md:shrink-0 ">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src="https://data.transmediale.de/assets/_1600xAUTO_crop_center-center_none/tm24_ResearchWorkshop2024_HKW_AngieStardustFoyer_2485_CCBYNCSA_LauraFiorio_005.jpg" alt="">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">UPCOMING</div>
      <a href="" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Transmediale</a>
      <p class="mt-2 text-slate-500">Rooted by the interest of researchers in how technological and social forms come together, the presentations, as well as the resulting publication, invite the audience to reflect on the use and value of affective infrastructures, autonomous networks, and shared organisational processes. </p>
    </div>
  </div>
</div>
  </div>
</div>
  <div class="col-span-2 rounded-md border border-dashed border-indigo-600">RESOURCE</div>
  <div class="rounded-md border border-dashed border-indigo-600">🟪</div>
  <div class="rounded-md border border-dashed border-indigo-600">🟣</div>
  <div class="col-span-2 rounded-md border border-dashed border-indigo-600">STATEMENT</div>
</div>
{# 
<div class="collapse collapse-plus border border-dashed border-indigo-600">
  <input type="radio" name="my-accordion-3" checked="checked" />
  <div class="collapse-title text-3xl font-Test2">Upcoming event</div>
  <div class="collapse-content max-h-96 overflow-auto">

<div class="p-2 rounded-md border border-dashed border-indigo-600 shadow-lg shadow-indigo-600">
    <div class=" rounded-md flex items-center justify-center">
        <section class="text-indigo-600 body-font">
            <div class=" container mx-auto flex md:flex-row flex-col items-center">
                <div class=" flex flex-col items-center text-center ">
                    <h1 class="font-Test2 sm:text-4xl text-3xl mb-4 font-medium text-indigo-600 border-dashed border-indigo-600  hover:text-white hover:bg-indigo-600  ">
                        <br class="border-2 border-dashed  hidden lg:inline-block ">8M
                    </h1>
             <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-center rounded max-h-[25%]" src="https://www.in-grid.io/wp-content/uploads/2023/01/05-scaled.jpg">
                </div>
            <p class="p-8 leading-relaxed font-Test2 hover:text-white hover:bg-indigo-600  shadow-indigo-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button class="btn font-Test2 text-indigo-600 bg-white border border-dashed border-indigo-600">Full article</button>
                </div>
            </div>
        </section>
    </div>
  </div>
  </div>
</div>

<div class="collapse collapse-plus border border-dashed border-indigo-600">
  <input type="radio" name="my-accordion-3" />
  <div class="collapse-title text-3xl font-Test2 font-medium">Workshops</div>
  <div class="collapse-content">
    <p class="font-Test2">hello</p>
  </div>
</div>
<div class="collapse collapse-plus border border-dashed border-indigo-600">
  <input type="radio" name="my-accordion-3" />
  <div class="collapse-title text-3xl font-Test2 font-medium">Resources</div>
  <div class="collapse-content">
    <p class="font-Test2">hello</p>
  </div>
</div>
#}

{# <p>Any custom bits only for the home page can be added... </p> #}

<div class="rounded-md border border-dashed border-indigo-600">
PROJECTS
{% set projectsCount = collections.projects | length %}
{% set latestProjectsCount = projectsCount | min(numberOfLatestProjectsToShow) %}
{# <h1>Recent Projects</h1> #}

{% set projectlist = collections.projects | head(-1 * numberOfLatestProjectsToShow) %}
{% set projectlistCounter = projectsCount %}
{% include "projectlist.njk" %}

{% set moreProjects = projectsCount - numberOfLatestProjectsToShow %}
{% if moreProjects > 0 %}
<h1 class='font-Test2 mt-30 text-xl flex items-center justify-center text-indigo-600 hover:text-white hover:bg-indigo-600 border border-dashed border-indigo-600'> <a href="/projects/">+MORE PROJECTS+ </a></p>
{# {{ moreProjects }} more project{% if moreProjects != 1 %}s{% endif %}can be seen #}
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

</div>



<div class="text-center px-8 py-4 mt-4 border-indigo-600 border border-dotted shadow-lg shadow-indigo-600">
        
    <h3 class="mb-4 rounded-md">Project Categories</h3>
    {% for tag in collections.all | getAllTags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}" class="">{{ tag }}</a>{%- if not loop.last %} &nbsp; |  &nbsp; {% endif %}
    {% endfor %}
</div>
