---
layout: home.njk
numberOfLatestProjectsToShow: 7
---

  <div class="rounded-lg font-Test2 pointer-events-none relative flex overflow-hidden shadow-lg shadow-indigo-600 border border-dashed border-y-indigo-600 py-2 ">
    <div class="animate-marquee text-zinc-500 flex min-w-full shrink-0 items-center justify-around  ">
          <span class="mx-4 text-2xl"> * ServPub * a platform for research & practice on experimental & computational publishing *</span>
    </div>
    <div aria-hidden="true" class="text-zinc-500 animate-marquee flex min-w-full shrink-0 items-center justify-around ">
             <span class="mx-4 text-2xl">* ServPub * a platform for research & practice on experimental & computational publishing *</span>
    </div>
  </div>
<div class="rounded-lg place-items-center grid grid-cols-1 md:grid-cols-2 lg:gap-8 shadow-lg shadow-indigo-600 ">
  <div class="p-8 ">
    <h1>Servpub</h1>
    <p class="py-8">We are one of the participating communities in ServPub an experimental infrastructure project. We are currently writing a book supported by The Open Book Futures (OBF) <a target="_blank" href="https://copim.pubpub.org/experimental-publishing-group">Experimental Publishing Group</a>. Read the <a target="_blank" href="https://copim.pubpub.org/pub/pilot-project-documentation-servpub2/release/1">the latest blog about the Servpub book project.</a></p>
    <p class="text-indigo-600 hover:text-black hover:bg-zinc-300 font-main"><a href="https://servpub.net/" target="_blank"> ->> More info at servpub.net</a></p>

  </div>
  <div class="">
    <img src="https://data.transmediale.de/assets/_1600xAUTO_crop_center-center_none/tm24_ResearchWorkshop2024_HKW_AngieStardustFoyer_2403_CCBYNCSA_LauraFiorio_002.jpg" class="rounded-lg"/>
  </div>
</div>

{# <p>Any custom bits only for the home page can be added... </p> #}
<div class="rounded-lg grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 shadow-lg shadow-slate-400">
  <div class= "font-Test2 p-4 text-4xl">Activity</div>

    <div class="col-span-2">
      <div class="grid grid-flow-row auto-rows-4 md:auto-rows-4 ">
      {% set projectsCount = collections.projects | length %}
      {% set latestProjectsCount = projectsCount | min(numberOfLatestProjectsToShow) %} 
      {% set projectlist = collections.projects | head(-1 * numberOfLatestProjectsToShow) %}
      {% set projectlistCounter = projectsCount %}
      {% for project in projectlist | reverse %}
      <div class="border border-indigo-600 font-Test2 hover:text-black hover:bg-zinc-300 bg-opacity-25">
        <a href="{{ project.url }}">
        <div class="m-1">
        <time datetime="{{ project.date | htmlDateString }}" class="text-zinc-500">{{ project.date | readableDate }}</time>
        <h1 class="myDIV">{{ project.data.title }}</h1>
        <div class="hide">
          <div class="avatar">
          <div class="w-24 rounded">
					{% if project.data.icon %}
					{% set imgurl = "."+project.url + project.data.icon %}
					{% image imgurl, "" %}
					{% endif %}</div></div>
        </div>
        </div>
        </a>
      </div>
      {% endfor %}
      {% set moreProjects = projectsCount - numberOfLatestProjectsToShow %}
    {% if moreProjects > 0 %}
    <div class="font-Test2 hover:text-black hover:bg-zinc-300 border border-indigo-600 text-right"><h2 class="pr-2"> <a href="/projects/">VIEW PAST </a></h2></div>

    {% endif %}

      </div>
    </div>
    


</div>

<h1 class="rounded-md font-Test2 m-4 ">Project Categories</h1>
<div class="text-center px-8 py-4 mt-4 border-indigo-600 border border-dotted">
    {% for tag in collections.all | getAllTags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}" class="hover:text-black hover:bg-zinc-300">{{ tag }}</a>{%- if not loop.last %} &nbsp; |  &nbsp; {% endif %}
    {% endfor %}
</div>

        


