---
layout: home.njk
numberOfLatestProjectsToShow: 4
---

<section class="text-indigo-600 body-font p-8">
    <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center ">
            <h1 class="font-Test2 sm:text-4xl text-3xl mb-4 font-medium text-indigo-600 border-dashed border-indigo-600  hover:text-white hover:bg-indigo-600 border shadow-inner shadow-indigo-600">Upcoming event
                <br class="border-2 border-dashed  hidden lg:inline-block ">8M
            </h1>
            <p class="mb-8 leading-relaxed font-main border border-indigo-600 hover:text-white hover:bg-indigo-600 border-dashed shadow-inner shadow-indigo-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="https://www.in-grid.io/wp-content/uploads/2023/01/05-scaled.jpg">
        </div>
    </div>
</section>
{# <p>Any custom bits only for the home page can be added... </p> #}


{% set projectsCount = collections.projects | length %}
{% set latestProjectsCount = projectsCount | min(numberOfLatestProjectsToShow) %}
{# <h1>Recent Projects</h1> #}

{% set projectlist = collections.projects | head(-1 * numberOfLatestProjectsToShow) %}
{% set projectlistCounter = projectsCount %}
{% include "projectlist.njk" %}

{% set moreProjects = projectsCount - numberOfLatestProjectsToShow %}
{% if moreProjects > 0 %}
<h1 class='font-Test2 mt-30 text-xl flex items-center justify-center text-indigo-600 hover:text-white hover:bg-indigo-600'> <a href="/projects/">+MORE PROJECTS+ </a></p>
{# {{ moreProjects }} more project{% if moreProjects != 1 %}s{% endif %}can be seen #}
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
