---
layout: home.njk
pagination:
   data: people
   size: 100
eleventyNavigation:
  key: People
  order: 3
---

{% set peoplelist = people %}
<div class="mt-16">
{% include "person-icon.njk" %}
</div>
