---
layout: home.njk
eleventyNavigation:
  key: Portfolio
  order: 1
---

{% set projectlist = collections.projects %}
{% include "projectlist.njk" %}


<div class="text-center px-8 py-4 mt-4 border-indigo-600 border border-dotted">
        
    <h3 class="mb-4">Project Categories</h3>
    {% for tag in collections.all | getAllTags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}" class="hover:text-black hover:bg-zinc-300">{{ tag }}</a>{%- if not loop.last %} &nbsp; |  &nbsp; {% endif %}
    {% endfor %}
</div>
