---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - project
    - projects
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1 class="m-4 mt-8">Tagged “{{ tag }}”</h1>

{% set projectlist = collections[ tag ] %}
{% include "projectlist.njk" %}

<p>See <a href="/">all tags on home page</a></p>
